asgiref==3.5.2
backports.zoneinfo==0.2.1
cffi==1.15.1
charset-normalizer==3.0.1
cryptography==39.0.1
Django==4.1.9
django-environ==0.9.0
pdfminer.six==20221105
pycparser==2.21
sqlparse==0.4.4
tzdata==2022.6
djangorestframework==3.14.0
djangorestframework-simplejwt[crypto]==5.2.2
mysqlclient==2.1.1
mysql-connector-python==8.0.31