cryptography==41.0.4
Django==4.2.3
django-environ==0.11.2
pdfminer.six==20221105
sqlparse==0.4.4
djangorestframework==3.14.0
djangorestframework-simplejwt[crypto]==5.3.0
mysqlclient==2.2.0
# WARNING: 8.0.30 is BROKEN https://www.reddit.com/r/django/comments/11wcm53/remote_db_connection_migrating/
mysql-connector-python==8.0.29
unidecode==1.3.6