GESTSIS_ALARM_SECRET_KEY='-------- KEY HERE ---------'
GESTSIS_ALARM_DEBUG_MODE=True
GESTSIS_ALARM_ALLOWED_HOSTS=localhost,127.0.0.1

GESTSIS_ALARM_MAIL_SERVER=
GESTSIS_ALARM_MAIL_PORT=
GESTSIS_ALARM_MAIL_USERNAME=
GESTSIS_ALARM_MAIL_PASSWORD=
GESTSIS_ALARM_MAIL_WHITELIST=

GESTSIS_JWT_PUBLIC_KEY_PATH="storage/keys/auth-public.key"

# For Sqlite : sqlite:////absolute/path/to/db/file (you can also add a dot (.) to make it relative to the gestsis_alarm folder)
# For Postgres : postgres://user:password@host:port/dbname (require psycopg2 package)
# For MySQL/MariaDB : mysql://user:password@host:port/dbname (require mysqlclient package)
GESTSIS_DATABASE_URL=sqlite:///./db.sqlite3